<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
    <style>
        .Error {
            text-align: center;
            font-family: wow,Blizzard,sans-serif;
        }
            .Error .error-type {
                font-size: 9.5rem;
            }

            .Error .error-issue {
                color: #f8b700;
                font-size: 4.5rem;
                margin-bottom: 4.5rem;
            }
    </style>
</head>
<body>
    <div>
        <section class="Error">
            <div class="error-type">404</div>
            <div class="error-issue">Page Not Found</div>
        </section>
    </div>
</body>
</html>
